.product-cart{
 width: 300px;
 border-radius: 10px;
 box-shadow: 1px 1px 2px black;
 text-align: center;
 padding-top: 7px;
 background-color: black;
 color: white;

}

.product-cart img {
    width: 150px;
    border-radius: 100px;
}

.btn{
    background-color: rgb(124, 148, 135);
     color: white;
     width: 140px;
     padding: 12px;
     text-align: center;
     border-radius: 10px;
     margin-bottom: 7px;
     font-weight: 700;

}
